@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#MainContent_SearchBox {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#MainContent_SearchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.postContainer li {
   border: 1px solid #e3e3e3;
   border-radius: 3px;
   list-style: none;
}

.PostHeader .Username {
   font-weight: bold;
}

.post {
   margin-bottom: 0px;
   border: none;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom: 1px solid #e1e8ed;
}

.replyForm .dropup {
   border-top: 1px solid #f6e9e9;
   border-width: 0 10px 8px;
}

.replyForm .dropup .caret {
   border-bottom: 6px solid #f6e9e9;
   /*border-width: 0 9px 7px;*/
   position: absolute;
   top: -25px;
   left: 5px;
}

.replyForm {
   background-color: #f6e9e9;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   
   padding: 10px;
}
.replyForm input[type="text"] {
   display: inline;
}

.replyForm .form-group {
   margin-bottom: 0px;
}

.red {
   border: 1px solid red;
}

/*
    CreatePost user control
*/
.createPostContainer {
    overflow: hidden;
}

.createPostContainer .createPostFormControl {
    margin-bottom: 5px;
}

.createPostContainer .col-md-10, .createPostContainer .col-md-2 {
    padding-left: 0;
    padding-right: 0;
}

.liked, .liked:hover {
    color: blue;
}

.reported, .reported:hover {
    color: red;
}

ol.postContainer {
    padding-left: 0;
}

.reply:nth-child(even) {
    background-color: white;
}

.thumbnail img {
    max-height: 100px;
}

.thumbnail.col-md-offset-9 {
    position: absolute;
    top: 10px;
    left: 50px;
}

.post {
    position: relative;
}

.modal-content img {
    width: 100%;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.board{
width: 90%;
height: auto;
background: #fff;
}

.board > div.board-inner{
    background: #fafafa;
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

@media( max-width : 585px ) {

    .board {
        width: 90%;
        height: auto !important;
    }
}

.art-title{color:#231f20;}
.artist-data{width:100%; padding-bottom: 25px;}
.artst-prfle span.artst-sub{font-size:15px; color:#000; float:left; width:100%; font-weight:normal; padding:5px 0;}
.artst-prfle span.artst-sub span.byname{font-weight:700; color:gray;}
.counter-tab{float: left; width: 100%;}
.counter-tab div{float: left; width: 10%; color: #000; font-size: 12px;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}

.PostContent p {
    word-wrap: break-word;
}

.postMedia {
    vertical-align: middle;
}

.postContainer p {
    margin: 0;
}

.postDeleteButton {
    position: absolute;
    top: 5px;
    right: 10px;
}

.postContainer hr {
    margin: 5px 0;
    height: 1px;
    background-color: #ebebeb;
}

#lbReportedPosts {
    margin-bottom: 15px;
}