/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
   max-width: 280px;
}
*/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.postContainer li {
   border: 1px solid #e3e3e3;
   border-radius: 3px;
   list-style: none;
}

.PostHeader .Username {
   font-weight: bold;
}

.post {
   margin-bottom: 0px;
   border: none;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom: 1px solid #e1e8ed;
}

.replyForm .dropup {
   border-top: 1px solid #f6e9e9;
   border-width: 0 10px 8px;
}

.replyForm .dropup .caret {
   border-bottom: 6px solid #f6e9e9;
   /*border-width: 0 9px 7px;*/
   position: absolute;
   top: -25px;
   left: 5px;
}

.replyForm {
   background-color: #f6e9e9;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   
   padding: 10px;
}

.replyForm .form-control {
   
}

.replyForm input[type="text"] {
   display: inline;
}

.replyForm .form-group {
   margin-bottom: 0px;
}

.red {
   border: 1px solid red;
}

/*
    CreatePost user control
*/
.createPostContainer {
    overflow: hidden;
}

.createPostContainer .createPostFormControl {
    margin-bottom: 5px;
}

.liked, .liked:hover {
    color: blue;
}

.reported, .reported:hover {
    color: red;
}